torch
torchvision
transformers
pillow
scikit-learn
tqdm
sentence-transformers
pandas
litellm
python-dotenv
openai
pillow-heif      # For iPhone .HEIC support
rawpy            # For professional .RAW support
opencv-python    # For .MOV and .MP4 frame extraction